


	<body>
		
		<div class="site-content">
			<header class="site-header" >
				<div class="container">
					<a href="#" class="branding">
						<img [src]="img" style="width:100px; height: auto;" alt="Apartments">
						<!---- <h1 class="site-title">Apartments</h1> 
						<small class="site-description">Unlock Your Dream Venice Dubai Apartment for Just $15,000 with Over 15% Rental Yield!</small> -->
					</a>
				</div>
				
				<div class="banner" >
					<div class="banner-content">
						<div class="container">
							<div class="cta">
								<a href="#">
									<a href="#" class="arrow-button"><i class="fa fa-angle-right"></i></a>
									<h2> VENICE
										DUBAI SOUTH
										</h2>
										<p class="titleP">Unlock Your Dream Venice Dubai Apartment for Just $15,000 with Over 15% Rental Yield!</p>
									<small>In the Dubai South, a waterfront residential development of Azizi Venice offers luxurious studios, 1, 2 & 3 bedroom apartments</small>
								</a>
							</div>

							<div class="subscribe-form">
								<form action="#">
									<small class="form-subtitle">Purchase Your Property in  </small>
									<h2 class="form-title"> Venice Dubai</h2>
									<p>It is crucial to uphold a policy of confidentiality in politics to safeguard sensitive information and maintain the trust of the public</p>

									<div class="control">
										<input type="text" placeholder="Your name...">
										<i class="fa fa-user"></i>
									</div>
									<div class="control">
										<input type="text" placeholder="Email address...">
										<i class="fa fa-envelope"></i>
									</div>
									<div class="control">
										<input type="text" placeholder="Phone number...">
										<i class="fa fa-phone"></i>
									</div>
									<input type="submit" value="Subscribe now">
								</form>
							</div>
						</div>
					</div>
				</div>
			</header> <!-- .site-header -->

			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">What is so great in Venice Dubai?</h2>
						<div class="row">
							<div class="col-md-5">
								<ul class="arrow-list">
									<li>Exquisite and waterfront spacious studios & apartments & villas</li>
									<li>18 km longer crystal clear artificial lagoons</li>
									<li>700 meters of boulevard with retail and F&B outlets</li>
									<li>700 meters of boulevard with retail and F&B outlets</li>
									<li>Dolor in reprehenderit in voluptate velit</li>
									<li>20 Minutes – Dubai Investments Park</li>
									<li>flexible payment plan of 40/60.</li>
									<li>Return on Investment (ROI) of up to 12 percent</li>
									
								</ul>
							</div>
							<div class="col-md-7">
								<div class="feature-slider">
									<ul class="slides">
										<li>
											<figure>
												<img src="https://www.sales-inquiry.ae/Projects/Azizi/Azizi-Venice-Dubai/images/gallery4.jpg" alt="Feature 1">
												<figcaption>
													<h3 class="feature-title">Neque porro quisquam est dolorem ipsum</h3>
													<small class="feature-desc">Velit esse cillum dolore pariatur</small>
												</figcaption>
											</figure>
										</li>
										<li>
											<figure>
												<img src="https://www.sales-inquiry.ae/Projects/Azizi/Azizi-Venice-Dubai/images/gallery5.jpg" alt="Feature 2">
												<figcaption>
													<h3 class="feature-title">Dolor in reprehenderit in voluptate velit</h3>
													<small class="feature-desc">Reprehenderit in voluptate velit</small>
												</figcaption>
											</figure>
										</li>
										<li>
											<figure>
												<img src="https://www.sales-inquiry.ae/Projects/Azizi/Azizi-Venice-Dubai/images/gallery6.jpg" alt="Feature 3">
												<figcaption>
													<h3 class="feature-title">Quisquam dolorem ipsum quia dolor sit</h3>
													<small class="feature-desc">Quia dolor ipsum quia dolor sit</small>
												</figcaption>
											</figure>
										</li>
									</ul>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fullwidth-block" data-bg-color="#f0f0f0">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="feature">
									<div class="feature-icon"><img src="assets/images/icon-location.png" alt=""></div>
									<h3 class="feature-title">Perfect location</h3>
									<p>10 Minutes – Al Maktoum International Airport.</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="feature">
									<div class="feature-icon"><img src="assets/images/icon-golf.png" alt=""></div>
									<h3 class="feature-title">Golf course</h3>
									<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="feature">
									<div class="feature-icon"><img src="assets/images/icon-valet.png" alt=""></div>
									<h3 class="feature-title">Private valet</h3>
									<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="feature">
									<div class="feature-icon"><img src="assets/images/icon-phone.png" alt=""></div>
									<h3 class="feature-title">24/h infoline</h3>
									<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
								</div>
							</div>
						</div>
						
						<div class="post-list">
							<article class="post">
								<figure class="feature-image" data-bg-image="https://dubai-property.investments/uploads/images/2022-11/265.jpg"></figure>
								<div class="post-detail">
									<h2 class="entry-title">Lorem porro quisquam dolorem</h2>
									<p>Omnis iste natus error sit voluptatem doloremque laudantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia.</p>
									<a href="#" class="button">See more</a>
								</div>
							</article>
							<article class="post">
								<figure class="feature-image" data-bg-image="https://cloud.famproperties.com/property/new-large/Townhouse-Jouri-Hills-74863-1673943477520.jpeg"></figure>
								<div class="post-detail">
									<h2 class="entry-title">Lorem porro quisquam dolorem</h2>
									<p>Omnis iste natus error sit voluptatem doloremque laudantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia.</p>
									<a href="#" class="button">See more</a>
								</div>
							</article>
							<article class="post">
								<figure class="feature-image">
									<iframe width="854" height="510" src="https://www.youtube.com/embed/d_crXGYHKSY" frameborder="0" allowfullscreen></iframe>
								
								</figure>
								<div class="post-detail">
									<h2 class="entry-title">Lorem porro quisquam dolorem</h2>
									<p>Omnis iste natus error sit voluptatem doloremque laudantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia.</p>
									<a href="#" class="button">See more</a>
								</div>
							</article>
						</div>
					
								
					</div>	
				</div>
				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">Meet our partners</h2>
						<div class="partners">
							<a href="#"><img src="assets/images/partner-1.png" alt=""></a>
							<a href="#"><img src="assets/images/partner-2.png" alt=""></a>
							<a href="#"><img src="assets/images/partner-3.png" alt=""></a>
							<a href="#"><img src="assets/images/partner-4.png" alt=""></a>
							<a href="#"><img src="assets/images/partner-5.png" alt=""></a>
						</div>
					</div>
				</div>
			</main>

			<footer class="site-footer">
				<div class="container">
					<p>Copyright 2014 Company name. Designed by Themezy. All rights reserved</p>
					<div class="social-links">
						<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</footer>
		</div>

		
		
	</body>

